# Data Cleaning

## Setup

### Import Libraries

In [ ]:
import pandas as pd

### Settings

In [ ]:
pd.set_option("display.max_columns", 50)

### Import Data

In [ ]:
df_train_original = pd.read_csv("../datasets/original_data/train.csv")
df_test_original = pd.read_csv("../datasets/original_data/test.csv")
df_spray_original = pd.read_csv("../datasets/original_data/spray.csv")
df_sample_sub_original = pd.read_csv("../datasets/original_data/sampleSubmission.csv")
df_weather_original = pd.read_csv("../datasets/original_data/weather.csv")

In [ ]:
# Training data
print(df_train_original.shape)
df_train_original.head(2)

(10506, 12)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [ ]:
# Test data
print(df_test_original.shape)
df_test_original.head(2)

(116293, 11)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [ ]:
# Spray data
print(df_spray_original.shape)
df_spray_original.head(2)

(14835, 4)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163

In [ ]:
# Weather data
print(df_weather_original.shape)
df_weather_original.head(2)

(2944, 22)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6

In [ ]:
# Sample Submission
print(df_sample_sub_original.shape)
df_sample_sub_original.head(2)

(116293, 2)

   Id  WnvPresent
0   1           0
1   2           0

## Data Types

### View data types

In [ ]:
#Training data
df_train_original.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [ ]:
#Test data
df_test_original.dtypes

Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object

In [ ]:
# Spray data
df_spray_original.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [ ]:
# Weather data
df_weather_original.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

### Data type conversion

We will convert all dates to datetime datatype

In [ ]:
for df in [df_train_original, df_test_original, df_spray_original, df_weather_original]:
    df['Date'] = pd.to_datetime(df["Date"])
    print(f"Change Date column data type to {df['Date'].dtype}")

Change Date column data type to datetime64[ns]
Change Date column data type to datetime64[ns]
Change Date column data type to datetime64[ns]
Change Date column data type to datetime64[ns]

## Missing Data

In [ ]:
# Missing data for train 
df_train_original.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [ ]:
# Missing data for test
df_test_original.isnull().sum()

Id                        0
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
dtype: int64

In [ ]:
# Missing data for spray 
df_spray_original.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [ ]:
# Missing data for weather 
df_weather_original.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

We see that Time column from the spray data has 584 missing values.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=4097f332-a5f7-4024-8213-3ea4e83aaea0' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>